@import "tailwindcss";

:root {
  --background: #F0F4F8;
  --foreground: #1e293b;
  --aktivitus-blue: #0C3B5C;
  --aktivitus-light-blue: #1E5A7D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-aktivitus-blue: var(--aktivitus-blue);
  --color-aktivitus-light-blue: var(--aktivitus-light-blue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
